hub/secrets/staging.yaml filter=git-crypt diff=git-crypt
hub/secrets/prod.yaml filter=git-crypt diff=git-crypt
hub/secrets/gcloud-creds.json filter=git-crypt diff=git-crypt
hub/secrets/* filter=git-crypt diff=git-crypt
